@model List<YoungDotx3.Models.MessageWall.MessageModels>

<script type="text/javascript">

    $(document).ready(function () {
        function createMessage() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("Create", "MessageWall")",
                data: { "nickname": $('#nickname').val(), "content": $('#content').val() },
            dataType: "json",
            headers: {
                'RequestVerificationToken': '@CommonRazorFunctions.GetAntiForgeryToken()'
            },
            success: function(result) {
                if (checkTimeout(result)) {

                    if (result.isSuccess) {
                        $('#content').val('');
                        createMessageUI(result.messageModel);
                    } else {
                        alertMessage('新增失敗，請稍後再試！', 'danger');
                    }
                }
            },
            error: function(result) {
                    alertMessage('伺服器忙碌中，請稍後再試！', 'danger');
                }
            });
        }

        function createMessageUI(messageModel) {
            var html = '';
            html += '<li class="">';
            html += '   <span class="fa fa-envelope tag is-info"></span>';
            html += '   <div class="timeline-item">';
            html += '       <span class="time"><i class="fa fa-clock-o"></i>' + messageModel.CreateTime + '</span>';
            html += '       <h3 class="timeline-header">' + messageModel.Nickname + '</h3>';
            html += '       <div class="timeline-body">';
            var lines = messageModel.Content.split('\n');
            for (var i = 0; i < lines.length; i++) {
                html += '       <p>' + lines[i] + '</p>';
            }
            html += '       </div>';
            html += '       <div class="timeline-footer"></div>';
            html += '   </div>';
            html += '</li>';

            $('#leave-message').after(html);
        }

        function alertMessage(message, type) {
            $('#alert-message').html(message);

            if (type === 'success')
                $('.modal-alert').css('background-color', '#dff0d8');
            else if (type === 'danger')
                $('.modal-alert').css('background-color', '#f2dede');
            else
                $('.modal-alert').css('background-color', '#ffffff');

            $('#modal-alert').modal('show');
            setTimeout(function () { $('#modal-alert').modal('hide'); }, 3000);
        }

        //$('#nickname, #content').on('focus', function () {
        //    $('.panel-leave-message').css('background-color', '#e8f4fb');
        //});

        //$('#nickname, #content').on('blur', function () {
        //    $('.panel-leave-message').css('background-color', '#ffffff');
        //});

        $('#btn-cancel').on('click', function() {
            $('#nickname, #content').val('');
        });

        $('#btn-send').on('click', function () {
            if ($('#nickname').val() === '') {
                alertMessage('請輸入暱稱！', 'danger');
                $('#nickname').trigger('focus');
            } else if ($('#content').val() === '') {
                alertMessage('請輸入內容！', 'danger');
                $('#content').trigger('focus');
            } else {
                createMessage();
            }
        });
    });
</script>

<style>
    h3 {
        font-weight: bold;
    }

    .main-body {
        margin: 50px auto;
        padding: 20px;
    }

    .center {
        margin: 0 auto;
        min-height: 100px;
    }

    .panel-content {
        margin: 20px;
    }

    .fullname {
        font-weight: bold;
        color: #292f33;
    }

    .btn-send, .btn-cancel {
        margin-left: 15px;
    }

    /*------------------- timeline ----------------------*/

    .timeline {
        position: relative;
        margin: 0 0 30px;
        padding: 0;
        list-style: none;
    }

    .timeline:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 4px;
        background: #4a4a4a;
        left: 31px;
        margin: 0;
        border-radius: 2px;
    }

    .timeline>li {
        position: relative;
        margin-right: 10px;
        margin-bottom: 15px;
    }

    .timeline>li:after {
        clear: both;
    }

    .timeline>li:after, .timeline>li:before {
        content: " ";
        display: table;
        box-sizing: border-box;
    }

    .timeline>li>.fa, .timeline>li>.glyphicon, .timeline>li>.ion {
        height: 30px;
        font-size: 15px;
        line-height: 30px;
        position: absolute;
        border-radius: 50%;
        text-align: center;
        left: 18px;
        top: 0;
    }

    .tag.is-danger {
        background-color: #ff3860;
        color: #fff;
    }

    .tag.is-primary {
        background-color: #00d1b2;
        color: #fff;
    }

    .tag.is-info {
        background-color: #3273dc;
        color: #fff;
    }

    .number, .tag {
        background-color: #f5f5f5;
        border-radius: 290486px;
        vertical-align: top;
    }

    .tag {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #4a4a4a;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        font-size: 12px;
        height: 24px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        line-height: 16px;
        padding-left: 10px;
        padding-right: 10px;
    }



    .timeline>li>.timeline-item {
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
        border-radius: 3px;
        margin-top: 0;
        background: #fff;
        color: #444;
        margin-left: 60px;
        margin-right: 15px;
        padding: 0;
        position: relative;
    }

    .timeline>li>.timeline-item>.time {
        color: #999;
        float: right;
        padding: 10px;
        font-size: 12px;
    }

    
    .timeline>li>.timeline-item>.timeline-body, .timeline>li>.timeline-item>.timeline-footer {
        padding: 12px;
    }

    .timeline>li>.timeline-item>.timeline-header {
        margin: 0;
        color: #555;
        border-bottom: 1px solid #f4f4f4;
        padding: 12px;
        font-size: 16px;
        line-height: 1.1;
    }
</style>

<div class="main-body">
    <div class="center" id="center-content">
        <ul class="timeline">
            <li class="time-label">
                <span class="fa fa-hourglass-start tag is-danger"></span>
            </li> 
            <li id="leave-message" class="">
                @*<span class="fa fa-envelope tag is-info"></span>*@
                <div class="timeline-item">
                    <div id="app" class="timeline-header">
                        <input id="nickname" class="form-control text-nickname" type="text" placeholder="暱稱..  (限20字)" maxlength="20"/>
                    </div>
                    <div class="timeline-body">
                        <textarea id="content" class="form-control textarea-content" placeholder="留言..  (限500字)" maxlength="500" rows="3"></textarea>
                    </div> 
                    <div class="timeline-footer">
                        <button type="button" id="btn-send" class="btn btn-default btn-primary btn-send">送出</button>
                        <button type="button" id="btn-cancel" class="btn btn-default btn-cancel">取消</button>
                    </div>
                </div>
            </li>   
            @{
                var messages = Model;
                var date = "";
                var count = 0;
                foreach (var aMessage in messages)
                {
                    if (date != aMessage.CreateDate)
                    {
                        <li class="time-label">
                            <span class="tag is-danger">@aMessage.CreateDate</span>
                        </li>
                        date = aMessage.CreateDate;
                    }

                    <li class="">
                        @if (count%3 == 0)
                        {
                            <span class="fa fa-envelope tag is-info"></span>
                        }
                        else if (count%3 == 1)
                        {
                            <span class="fa fa-commenting-o tag is-primary"></span>
                        }
                        else
                        {
                            <span class="fa fa-camera  tag is-danger"></span>
                        }

                        <div class="timeline-item">
                            <span class="time"><i class="fa fa-clock-o"></i> @aMessage.CreateTime</span>
                            <h3 class="timeline-header">@aMessage.Nickname</h3>
                            <div class="timeline-body">
                                @foreach (var line in aMessage.Content.Split(new[] {'\r', '\n'}, StringSplitOptions.RemoveEmptyEntries))
                                {
                                    <p>@line</p>
                                }
                            </div>
                            <div class="timeline-footer"></div>
                        </div>
                    </li>

                    count ++;
                }
            }
            <li class="time-label">
                <span class="tag is-danger">10 Feb. 2014</span>
            </li> 
      @*<li class="">
        <span class="fa fa-envelope tag is-info"></span> 
        <div class="timeline-item">
          <span class="time"><i class="fa fa-clock-o"></i> 12:05</span> 
          <h3 class="timeline-header">Chris</h3> 
          <div class="timeline-body">
            This is Chris
          </div> 
          <div class="timeline-footer"></div>
        </div>
      </li>   
      <li class="">
        <span class="fa fa-commenting-o tag is-primary"></span> 
        <div class="timeline-item">
          <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span> 
          <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request</h3>
        </div>
      </li>   
      <li class="">
        <span class="fa fa-comments tag is-danger"></span> 
        <div class="timeline-item">
          <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span> 
          <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3> 
          <div class="timeline-body">
            Take me to your leader!
            Switzerland is small and neutral!
            We are more like Germany, ambitious and misunderstood!
          </div> 
          <div class="timeline-footer">
            <a class="button is-info is-small">View comment</a>
          </div>
        </div>
      </li>   
      <li class="time-label"><span class="tag is-primary">3 Jan. 2014</span></li>   
      <li class="">
        <span class="fa fa-camera  tag is-danger"></span> 
        <div class="timeline-item">
          <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span> 
          <h3 class="timeline-header">
            <a href="#">Mina Lee</a> uploaded new photos</h3> 
            <div class="timeline-body">
              <img src="http://placehold.it/150x100" alt="..." class="margin"> 
              <img src="http://placehold.it/150x100" alt="..." class="margin"> 
              <img src="http://placehold.it/150x100" alt="..." class="margin"> 
              <img src="http://placehold.it/150x100" alt="..." class="margin">
            </div>
          </div>
        </li>*@

        <li class=""><span class="fa fa-clock-o tag is-white"></span></li>
        </ul>
    </div>
</div>

<div id="modal-alert" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content modal-alert">
            <div class="modal-body">
                <label id="alert-message"></label>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->