<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 青春點點點</title>
    @Html.AntiForgeryToken()
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/base")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <style>
        .copyright {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("青春點點點", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("首頁", "Index", "Home")</li>
                    <li>@Html.ActionLink("關於", "About", "Home")</li>
                    <li>@Html.ActionLink("連絡方式", "Contact", "Home")</li>*@
                    <li>@Html.ActionLink("生日快樂", "Index", "HappyBirthday")</li>
                    <li>@Html.ActionLink("留言牆", "Index", "MessageWall")</li>
                    <li><a href="http://www.uforadio.com.tw/"  target="_blank">飛碟電台</a></li>
                    <li><a href="http://hichannel.hinet.net/radio/index.do?id=232" target="_blank">線上收聽</a></li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    @*<div class="container body-content">*@
    <div style="margin-top: 3%;">
        @RenderBody()
        <hr />
        <footer>
            <p  class="copyright">Copyright &copy; @DateTime.Now.Year Chris80072 All rights reserved</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
