@using System.Collections.Specialized
@using Newtonsoft.Json
@model YoungDotx3.Models.Calendar.MonthModels

@{
    ViewBag.Title = "生日留言";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/fullcalendar")

<style>
    body {
        overflow:hidden;
    }
    #calendar {
        margin-bottom: 20px;
    }
    #calendar .fc-day-grid-container {
        overflow-y: hidden !important;
    }
    .textarea-content {
        resize: none;
    }
    .modal-body {
        background-color: #E8F4FB;
        border-radius: 5px;
    }
    .glyphicon {
        font-size: 24px;
    }
    .btn-cancel, .btn-send {
        float: right;
        margin-left: 15px;
    }
    .colorOption {
        margin: 0 15px;
        width: 93%;
    }
    .dropdown-option {
        margin: 5px;
        height: 35px;
        cursor: pointer;
        border-radius: 4px;
    }
    .text-select-color {
        float: left;
        margin-left: 13px;
        color: #999999;
    }
    #createDate {
        color: #999999;
    }
</style>

<div class="container" style="margin-top: 50px">
    <div id="calendar"></div>
    <footer class="w3-center w3-opacity w3-hover-opacity-off">
        <p class="copyright">Copyright &copy; @DateTime.Now.Year Chris80072 All rights reserved</p>
    </footer>
</div>

<div id="modal-message" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        </div>
                        <div class="col-sm-10">
                            <input id="createDate" class="form-control" type="text"disabled="disabled"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                        </div>
                        <div class="col-sm-10">
                            <button class="btn btn-default btn-block dropdown-toggle form-control" type="button" id="select-color" data-toggle="dropdown" aria-expanded="false">
                                <div class="panel-name text-select-color">選擇顏色...</div>
                            </button>
                            <ul class="dropdown-menu col-sm-11 colorOption" role="menu">
                                <li><div href="#" class="dropdown-option" style="background-color: #61BD4F"></div></li>
                                <li><div href="#" class="dropdown-option" style="background-color: #F2D600"></div></li>
                                <li><div href="#" class="dropdown-option" style="background-color: #FFAB4A"></div></li>
                                <li><div href="#" class="dropdown-option" style="background-color: #EB5A46"></div></li>
                                <li><div href="#" class="dropdown-option" style="background-color: #C377E0"></div></li>
                                <li><div href="#" class="dropdown-option" style="background-color: #0079BF"></div></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>
                        <div class="col-sm-10">
                            <input id="nickname" class="form-control text-nickname" type="text" placeholder="暱稱..  (限20字)" maxlength="20"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </div>
                        <div class="col-sm-10">
                            <textarea id="content" class="form-control textarea-content" placeholder="生日留言..    (限500字)" maxlength="500" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="button-group col-sm-offset-2 col-sm-10">
                            <button type="button" id="btn-send" class="btn btn-default btn-primary btn-send">送出</button>
                            <button type="button" id="btn-cancel" class="btn btn-default btn-cancel">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal-alert" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content modal-alert">
            <div class="modal-body">
                <label id="alert-message"></label>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts {
@Scripts.Render("~/bundles/fullcalendar")
<script type="text/javascript">
    $(document).ready(function() {

        var eventsData = @Html.Raw(Json.Encode(Model.Messages));
        var today = new Date(@Html.Raw(Json.Encode(Model.Today)));
        var endDate = getEndDate();
            $('#calendar').fullCalendar({
                buttonText: {
                    today: '今天',
                    month: '月視'
                },
                monthNames: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
                dayNames: ["星期天", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
                header: {
                    left: 'today',
                    center: 'title',
                    right: 'prev,next'
                },
                defaultDate: @Html.Raw(Json.Encode(Model.Today)),
            navLinks: false, // can click day/week names to navigate views
            editable: false,
            eventClick: function(calEvent, jsEvent, view) {
                /*alert('Event: ' + calEvent.title);
                alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                alert('View: ' + view.name);*/
                showMessageContent(calEvent);
            },
            dayClick: function(date, jsEvent, view) {
                if(checkDate(date._d))
                    showMesseageModal(date._d);
            },
            //viewRender: function (view, element) {
            //    alert(view.title);
            //},
            events: eventsData,
            dayRender: function (date, cell) {
                if(date._d < today || date._d > endDate)
                    cell.css("background-color", "#f5f5f5");
            }
        });

        function getEndDate() {
            var enddate = new Date(today);
            enddate.setMonth(enddate.getMonth()+4);
            enddate.setDate(1);
            enddate.setDate(enddate.getDate()-1);
            return enddate;
        }

        function checkDate(date) {
            if (date > today && date <= endDate)
                return true;
            else
                return false;
        }

        function showMesseageModal(date) {
            $('#createDate').val(date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate());
            $('#nickname').val('');
            $('#content').val('');
            $('#nickname').prop('disabled', false);
            $('#content').prop('disabled', false);
            $('#select-color').prop('disabled', false);
            $('#btn-send, #btn-cancel, .text-select-color').show();
            $('#modal-message').modal('show');
        }

        $('.dropdown-option').on('click', function() {
            $('#select-color').css('background-color', $(this).css('background-color'));
        });

        $('#btn-cancel').on('click', function() {
            $('#content').val('');
            $('#modal-message').modal('hide');
        });

        $('#btn-send').on('click', function() {
            $('#modal-message').modal('hide');
            alertMessage('處理中...', 'success');

            $.ajax({
                type: "POST",
                url: "@Url.Action("Create", "HappyBirthday")",
                data: { "nickname": $('#nickname').val(), "content": $('#content').val(), "color": hexc($('#select-color').css('background-color')), "createDate": $('#createDate').val() },
                dataType: "json",
                headers: {
                    'RequestVerificationToken': '@CommonRazorFunctions.GetAntiForgeryToken()'
                },
                success: function(result) {
                    if (checkTimeout(result)) {
                        if (result.Result == true) {
                            setTimeout(function () { location.reload(); }, 500);
                        } else {
                            alertMessage('資料錯誤，請確認！', 'danger');
                        }
                    } else {
                        alertMessage('伺服器忙碌中，請稍後再試！', 'danger');
                    }
                },
                error: function() {
                    alertMessage('伺服器忙碌中，請稍後再試！', 'danger');
                }
            });
        });

        function hexc(colorval) {
            var parts = colorval.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
            delete(parts[0]);
            for (var i = 1; i <= 3; ++i) {
                parts[i] = parseInt(parts[i]).toString(16);
                if (parts[i].length == 1) parts[i] = '0' + parts[i];
            }
            return '#' + parts.join('');
        }

        function alertMessage(message, type) {
            $('#alert-message').html(message);

            if (type === 'success')
                $('.modal-alert').css('background-color', '#dff0d8');
            else if (type === 'danger')
                $('.modal-alert').css('background-color', '#f2dede');
            else
                $('.modal-alert').css('background-color', '#ffffff');

            $('#modal-alert').modal('show');
            setTimeout(function () { $('#modal-alert').modal('hide'); }, 3000);
        }

        function showMessageContent(calEvent){
            $('#nickname').val(calEvent.title);
            $('#content').val(calEvent.content);
            $('#select-color').css('background-color', calEvent.color);
            $('#createDate').val(calEvent.start._i);
            $('#nickname').prop('disabled', true);
            $('#content').prop('disabled', true);
            $('#select-color').prop('disabled', true);
            $('#btn-send, #btn-cancel, .text-select-color').hide();
            $('#modal-message').modal('show');
        }
    });
</script>
}